<%- include('../shared/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
  <%- include('../shared/navigation.ejs') %>
  <main>
    <form action="/admin/edit-product" method="POST">
      <div class="form-wrapper">
        <div class="field-wrapper">
          <label for="title">Title *</label>
          <input type="text" name="title" class="input-field" value="<%= product.title %>" required>
        </div>
        <div class="field-wrapper">
          <label for="price">Price *</label>
          <input type="text" name="price" class="input-field" value="<%= product.price %>" required>
        </div>
        <div class="field-wrapper">
          <label for="image">Image Url</label>
          <input type="text" name="image" value="<%= product.image %>" class="input-field">
        </div>
        <div class="field-wrapper">
          <label for="desc">Description</label>
          <textarea name="desc" class="input-field" rows="10" value="<%= product.desc %>"
            cols="50"></textarea>
        </div>
        <button class="submit-btn">
          Submit Form
        </button>
      </div>
    </form>
  </main>
  <%- include('../shared/end.ejs') %>