<div class="page-content">
    <% if(prods.length > 0) { %>
      <% for(let p of prods) { %>
        <div class="product-cards" onclick="window.location.href = '/shop/product-detail/<%= p.id %>'">
          <div class="image-block">
            <img class="image" src="<%=p.image %>" alt="No Image">
          </div>
          <div class="info-block">
            <h3 class="title"><%= p.title %></h1>
            <h4 class="price">$<%= p.price %></h1>
            <h5 class="desc"><%= p.desc %></h1>
          </div>
          <div class="button-group">
            <button onclick="event.stopPropagation(); window.location.href = '/admin/edit-product/<%= p.id %>'">Edit</button>
            <button onclick="event.stopPropagation(); window.location.href = '/admin/delete-product/<%= p.id %>'">Delete</button>
          </div>
        </div>
      <% } %>    
    <% } else { %>
      <h1>No Products in List</h1>
    <% } %>
</div>